---
const test    =     "badly formatted";
const   another={value:123,name:"test"};
---

<div        class="test-class badly-formatted"     >
<p>This is badly formatted content</p>
<span   class="another-test"  >Test</span>
</div> 