---
import BaseHead from '../../components/BaseHead.astro';
import Footer from '../../components/Footer.astro';
import Header from '../../components/Header.astro';
import { SITE_DESCRIPTION, SITE_TITLE } from '../../consts';
import { getLangFromUrl, useTranslations } from '../../i18n';

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

<!doctype html>
<html lang={lang}>
  <head>
    <BaseHead
      title={SITE_TITLE}
      description={SITE_DESCRIPTION}
    />
  </head>
  <body>
    <Header />
    <main>
      <h1>🧑‍🚀 {t('home.title')}</h1>
      <p>
        {t('home.welcome')}
      </p>
      <p>
        {t('home.description')}
      </p>
      <p>{t('home.ideas')}</p>
      <ul>
        <li>{t('home.editPage')}</li>
        <li>{t('home.editHeader')}</li>
        <li>{t('home.editFooter')}</li>
        <li>{t('home.checkPosts')}</li>
        <li>{t('home.customizeLayout')}</li>
      </ul>
      <p>
        {t('home.haveFun')}
      </p>
      <p>
        {t('home.morePersonality')}
      </p>
    </main>
    <Footer />
  </body>
</html>
