@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .padding-x {
    @apply px-[15px];
  }
}

html {
  font-family: "Roboto", sans-serif;
}

.notion-app {
  max-width: 100%;
}

.notion-header {
  display: none;
}

.notion-app h1.notion-title {
  font-size: 1.73rem;
  font-weight: 800;
  letter-spacing: 0;
  line-height: 125%;
}

.notion-page {
  padding-left: 15px;
  padding-right: 15px;
  width: 100%;
}
@media only screen and (min-width: 930px) {
  .notion-app {
    max-width: 930px;
  }

  .notion-app h1.notion-title {
    font-size: 2.07rem;
  }
}
