---
import Header from '@/components/Header.astro';
import '@/styles/global.css';

export interface Props {
  title: string;
  description?: string;
}

const { title, description } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="description"
      content={description || 'Astro blog'}
    />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0"
    />
    <link
      rel="icon"
      type="image/svg+xml"
      href="/favicon.svg"
    />
    <title>{title}</title>
  </head>
  <body>
    <div class="relative flex min-h-screen flex-col">
      <Header />
      <main class="flex-1">
        <slot />
      </main>
    </div>
  </body>
</html>
