---
import BaseHead from '@/components/BaseHead.astro';
import Footer from '@/components/Footer.astro';
import Header from '@/components/Header.astro';
import '@/styles/global.css';

export interface Props {
  lang?: string;
}

const { 
  lang = 'en',
} = Astro.props;
---

<!doctype html>
<html lang={lang}>
  <head>
    <BaseHead/>
  </head>
  <body>
    <div class="relative flex min-h-screen flex-col">
      <Header />
      <main class="flex-1">
        <slot />
      </main>
      <Footer />
    </div>
  </body>
</html>
